# Environment
.env
.idea/
__pycache__/

# Data Folders (Large/Sensitive)
Input_Folder/
Redacted_and_PII_Files/
Extracted_Files/
MODELs/model_outputs/

# Python
*.pyc

# Local Config
MODELs/.env

# Project specific (from remote)
input/
output/
logs/
out/
extracted_output/
